.films_list {
  margin: 0 2rem;
}

.film {
  background: var(--gray);
  border-radius: 6px;
  padding: 1rem 1rem .5rem;
  margin-bottom: 1rem;
}

.film_title {
  display: block;
  font-weight: bold;
  font-size: var(--fontSubtitle);
  margin-bottom: 3px;
  cursor: pointer;
}

.film_episode {
  display: block;
  font-size: var(--fontSmall);
  text-transform: uppercase;
  color: var(--yellow);
  margin-bottom: 16px;
}

.film_director {
  display: block;
  font-size: var(--fontNormal);
}

.bottom_line_divider {
  display: block;
  border-bottom: 1px solid var(--black);
  margin: 1rem -2rem;
}

.film_character {
  display: block;
  text-transform: uppercase;
  text-align: right;
  transition: .2s ease-in-out;
  cursor: pointer;
  font-size: var(--fontSmall);
}

.film_character svg {
  fill: #fff;
  margin: 0 3px 0;
  transition: .2s ease-in-out;
}

.film_character:hover {
  color: var(--blue);
}

.film_character:hover svg {
  margin-left: 4px;
  fill: var(--blue);
}

@media screen and (max-width: 756px) {
  .film {
    border-radius: 4px;
    padding: 1rem 1rem .5rem;
    margin-bottom: 1rem;
  }

  .bottom_line_divider {
    margin: .5rem -1rem;
  }

  .film_title {
    font-size: var(--fontInfo);
  }
}

.opening_crowl_bg {
	position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.opening_crowl_container {
	position: absolute;
  width: 60vw;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -30vw;
	font-size: 350%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

@media screen and (max-width: 756px) {
  .opening_crowl_container {
    width: 90vw;
    margin-left: -45vw;
	  font-size: 280%;
  }
}

.opening_crowl_container:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	pointer-events: none;
}

.opening_crowl_content {
	position: absolute;
	top: 100%;
	animation: scroll 100s linear .5s infinite;
}

.opening_crowl_text {
  display: block;
  color: var(--yellow);
  line-height: 2;
  text-align: center;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -200%; }
}