<section class="films_list" *ngIf="films">
  <div class="film" *ngFor="let film of films">
    <span class="film_title" (click)="openingCrawl(film.episode)">
      {{ film.title }}
    </span>
    <span class="film_episode">
      Starwars Episode {{ film.episode }}
    </span>
    <span class="film_director">
      Directed by: {{ film.director }}
    </span>

    <span class="bottom_line_divider"></span>

    <a [routerLink]="['/characters', film.title, film.episode]" class="film_character">
      Check the characters in this film
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24">
        <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z"/>
      </svg>
    </a>

    <div class="opening_crowl_bg" *ngIf="opening == film.episode" (click)="openingCrawlStop()">
      <div class="opening_crowl_container">
        <div class="opening_crowl_content">
          <span class="opening_crowl_text" [innerHTML]="film.opening_crawl"></span>
        </div>
      </div>
    </div>
  </div>
</section>