header {
  padding: 2rem;
}

header a {
  display: block;
  width: 350px;
  height: 60px;
  margin: auto;
  background-image: url('/assets/images/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.subtitle {
  display: block;
  font-size: var(--fontSubtitle);
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: .5rem;
  color: #fff;
}

@media screen and (max-width: 756px) {
  header {
    padding: 1rem;
  }
  
  header a {
    height: 40px;
    width: 200px;
  }

  .subtitle {
    font-size: .9rem;
  }
}