<section *ngIf="characters">
  
  <h3>{{ film }} characters</h3>
  <a [routerLink]="''" class="go_back_link">Go back</a>

  <!-- filter -->
  <div class="filter">
    <input [(ngModel)]="filterValue" placeholder="Filter by: name, eye color, film..." name="filter">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
      <path
        d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z" />
    </svg>
  </div>

  <!-- list -->
  <div class="character_list">
    <div class="character"
      *ngFor="let character of (characters | filter: { name: filterValue, eye_color: filterValue, film: filterValue }) | paginate: { itemsPerPage: 10, currentPage: currentPage };">

      <!-- character's name -->
      <span class="character_name">
        {{ character.name }}
      </span>

      <!-- character's eye color -->
      <span class="character_eyes">
        <b>Eye color:</b> {{ character.eye_color | titlecase }} -
        <!-- <svg class="eye_color" [style.fill]="character.eye_color" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
          <path
            d="M15 12c0 1.657-1.343 3-3 3s-3-1.343-3-3c0-.199.02-.393.057-.581 1.474.541 2.927-.882 2.405-2.371.174-.03.354-.048.538-.048 1.657 0 3 1.344 3 3zm-2.985-7c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 12c-2.761 0-5-2.238-5-5 0-2.761 2.239-5 5-5 2.762 0 5 2.239 5 5 0 2.762-2.238 5-5 5z" />
          </svg> -->
      </span>

      <!-- character's gender -->
      <span class="character_gender">
        <b>Gender:</b> {{ character.gender | titlecase }}
      </span>

      <!-- <span class="character_films">
        <p>Films in which it appears:</p>
        <span *ngFor="let film of character.films">{{ getFilmName(film) }}</span>
      </span> -->
    </div>
  </div>
  <!-- pagination -->
  <div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
</section>