.pagination {
  width: max-content;
  margin: auto;
  padding: 2rem;
  border-radius: 6px;
}

.filter {
  width: 300px;
  margin: auto;
}

.filter input {
  height: 36px;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  color: #fff;
  width: 260px;
}

.filter svg {
  fill: #fff;
}

.character_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 2rem;
}

.character {
  background: var(--gray);
  border-radius: 6px;
  padding: .5rem 1rem;
}

.character_name {
  display: block;
  font-size: var(--fontMedium);
  margin-bottom: 12px;
}

.character_films {
  display: block;
  font-size: var(--fontSmall);
  margin-top: 12px;
}

.character_films p {
  display: block;
  margin: 0 0 4px;
  font-family: 'Open Sans', sans-serif;
}

.character_films span {
  color: var(--yellow);
}

.character_films span:not(:last-child)::after {
  content: ", ";
}

.character_eyes, .character_gender {
  font-size: var(--fontSmall);
  font-family: 'Open Sans', sans-serif;
}

.character_gender svg {
  fill: #fff;
}

.eye_color {
  fill: var(--color);
}

h3 {
  display: block;
  margin: 1rem 0 1rem;
  font-size: var(--fontInfo);
  text-align: center;
  text-transform: uppercase;
}

.go_back_link {
  display: block;
  width: max-content;
  margin: auto;
  text-align: center;
  color: var(--blue);
  margin-bottom: 2rem;
}

@media screen and (max-width: 756px) {
  .pagination {
    padding: .5rem;
  }

  .filter {
    width: 240px;
    margin: auto;
  }
  
  .filter input {
    height: 36px;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    color: #fff;
    width: 200px;
  }
}