/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ropa+Sans&display=swap');

/* variables */
:root {
  --black: #222222;
  --blue: #38d8d8;
  --light: #d2d2d2;
  --gray: #3a3a3a;
  --yellow: #edec51;
  --fontTitle: 3rem;
  --fontSubtitle: 2.6rem;
  --fontInfo: 2.2rem;
  --fontMedium: 1.6rem;
  --fontNormal: 1.1rem;
  --fontSmall: .8rem;
}

/* globals */
* {
  outline: 0!important;
  box-sizing: border-box;
  line-height: 1;
}

body {
  margin: 0;
  font-family: 'Ropa Sans', Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #0f0f0f;
  background-image: url('/assets/images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: lighten;
}

a {
  text-decoration: none;
  color: inherit;
}

/* overwrites */
.ngx-pagination a, .ngx-pagination button {
  color: var(--light)!important;
}

.ngx-pagination .current {
  color: var(--black)!important;
  background: var(--blue)!important;
}

.ngx-pagination a:hover, .ngx-pagination button:hover {
  color: var(--black)!important;
}

ul, li {
  margin: 0;
  padding: 0;
}